version: '3.8'

services:
  storefront:
    image: ghcr.io/ahzamali/storefront-v2:latest
    container_name: storefront-app
    ports:
      - "8080:8080"
    volumes:
      - ./data:/app/data
    restart: unless-stopped
